<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<head>

    <title>Form sản phẩm</title>

    <title>Eighteen Polo | Form sản phẩm</title>
    <style>
        .button-container {
            display: flex;
            align-items: flex-start; /* Căn chỉnh phần tử lên trên cùng */
            gap: 10px; /* Khoảng cách giữa button và thông báo lỗi */
        }


        /*96e7de6 (fix)*/


        .text-danger {
            display: flex;
            align-items: flex-start; /* Căn chỉnh văn bản lỗi lên trên cùng */
        }

        .text-danger span {
            margin-left: 10px; /* Khoảng cách giữa nút và văn bản lỗi */
        }

    </style>
</head>

<body data-topbar="dark">

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" layout:fragment="content">
    <div class="page-content" ng-app="formSP-app" ng-controller="san-pham-ctrl">

        <style>
            .er {
                color: #ff0000;
                font-size: 13px;
            }
        </style>
        <link th:href="@{/admin/css/fileupload.css}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!--        <style>-->
        <!--            .er {-->
        <!--                color: red;-->
        <!--                font-size: 13px;-->
        <!--            }-->
        <!--        </style>-->
        <!--        <link th:href="@{/admin/css/fileupload.css}" rel="stylesheet" type="text/css"/>-->
        <!--        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->


        <div class="container-fluid">
            <div class="b-5 mb-4">
                <button type="button" class="btn" style="background-color: #808080;color:white"
                        ng-click="back()">
                    Về trang sản phẩm
                </button>
                <button type="button" class="btn btn-primary" ng-click="viewChiTiet()">Về trang chi tiết sản phẩm
                </button>
            </div>
            <div class="row justify-content-center w-100">
                <div class="col-9">
                    <div class="card">
                        <!-- Centered "Sản Phẩm" Field on Top -->
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <div class="mb-3 m-4 text-center">
                                    <label for="tenSP">Sản Phẩm</label>


                                    <input id="tenSP" ng-model="tenSP" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <!-- Two Columns for Remaining Attributes -->
                        <div class="row justify-content-center w-100">
                            <div class="col-9">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- Chọn màu sắc -->
                                            <div class="mb-3 m-4">
                                                <label>Màu Sắc: </label>
                                                <input type="text" ng-model="colorSearch"
                                                       placeholder="Nhập màu để tìm kiếm"
                                                       ng-change="autoSelectColor()">
                                                <select class="form-control" ng-model="selectedMauSac" multiple
                                                        ng-change="selectColor()">

                                                    <option ng-repeat="mau in mauSacCr | filter:colorFilterFunction"
                                                            ng-value="mau">
                                                        {{ mau.ten
                                                        }}
                                                    </option>
                                                </select>
                                                <!-- Hiển thị lỗi màu sắc -->
                                                <div ng-show="errorMessages.mauSac" class="text-danger">
                                                    {{ errorMessages.mauSac }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- Chọn kích cỡ -->
                                            <div class="mb-3 m-4">
                                                <label>Kích Cỡ: </label>
                                                <input type="text" ng-model="sizeSearch"
                                                       placeholder="Nhập kích cỡ để tìm kiếm"
                                                       ng-change="autoSelectSize()">
                                                <select class="form-control" ng-model="selectedKichCo" multiple
                                                        ng-change="selectSize()">

                                                    <option ng-repeat="size in kichCoCr | filter:sizeFilterFunction"
                                                            ng-value="size">
                                                        {{ size.ten
                                                        }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-3 m-5">
                <div class="col-12">
                    <div class="card">
                        <!-- Hiển thị bảng theo từng màu -->
                        <div ng-repeat="table in tables" style="margin-top: 20px;">
                            <!-- Header cho từng màu -->
                            <div style="display: flex; align-items: center; justify-content: space-between; margin: 0 20px;">
                                <h3 class="m-4">Màu {{table.mau.ten}}</h3>
                                <button class="btn btn-danger" ng-click="removeMau(table)">Xóa màu</button>
                            </div>

                            <!-- Hiển thị lỗi chưa chọn kích cỡ -->
                            <div ng-show="table.errorMessages && table.errorMessages.size" class="text-danger m-4">
                                {{ table.errorMessages.size }}
                            </div>

                            <!-- Bảng hiển thị thông tin kích cỡ -->
                            <table class="table table-striped table-hover dt-responsive nowrap w-75 m-4">
                                <thead>
                                <tr>
                                    <!-- Checkbox chính để chọn tất cả -->
                                    <th>
                                        <input type="checkbox"
                                               ng-model="form[table.mau.idMauSac].allSelected"
                                               ng-change="toggleAllCheckboxes(table)">
                                    </th>
                                    <th>Kích Cỡ</th>
                                    <th>Số lượng</th>
                                    <th>Giá nhập</th>
                                    <th>Giá bán</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="size in table.size">
                                    <td>
                                        <input type="checkbox"
                                               ng-model="form[table.mau.idMauSac][size.idKichCo].selected"
                                               ng-change="syncSelectedValues(table, size)">
                                    </td>
                                    <td>{{size.ten}}</td>
                                    <td>
                                        <input ng-model="form[table.mau.idMauSac][size.idKichCo].soLuong"
                                               type="number"
                                               value="0" ng-init="form[table.mau.idMauSac][size.idKichCo].soLuong = 0"
                                               ng-change="onValueChanged('soLuong', form[table.mau.idMauSac][size.idKichCo].soLuong, table, size)">
                                        <!-- Hiển thị lỗi số lượng -->
                                        <div ng-show="form[table.mau.idMauSac][size.idKichCo].errorMessages.soLuong"
                                             class="text-danger">
                                            {{ form[table.mau.idMauSac][size.idKichCo].errorMessages.soLuong }}
                                        </div>
                                    </td>
                                    <td>
                                        <input ng-model="form[table.mau.idMauSac][size.idKichCo].giaNhap"
                                               type="number"
                                               value="0" ng-init="form[table.mau.idMauSac][size.idKichCo].giaNhap = 0"
                                               ng-change="onValueChanged('giaNhap', form[table.mau.idMauSac][size.idKichCo].giaNhap, table, size)">
                                        <!-- Hiển thị lỗi giá nhập -->
                                        <div ng-show="form[table.mau.idMauSac][size.idKichCo].errorMessages.giaNhap"
                                             class="text-danger">
                                            {{ form[table.mau.idMauSac][size.idKichCo].errorMessages.giaNhap }}
                                        </div>
                                    </td>
                                    <td>
                                        <input ng-model="form[table.mau.idMauSac][size.idKichCo].giaBan"
                                               type="number"
                                               value="0" ng-init="form[table.mau.idMauSac][size.idKichCo].giaBan = 0"
                                               ng-change="onValueChanged('giaBan', form[table.mau.idMauSac][size.idKichCo].giaBan, table, size)">
                                        <!-- Hiển thị lỗi giá bán -->
                                        <div ng-show="form[table.mau.idMauSac][size.idKichCo].errorMessages.giaBan"
                                             class="text-danger">
                                            {{ form[table.mau.idMauSac][size.idKichCo].errorMessages.giaBan }}
                                        </div>

                                    </td>
                                    <td>
                                    <td>
                                    <td>
                                        <button class="btn btn-danger" ng-click="removeSize(table, size)">Xóa</button>
                                    </td>
                                    <td>
                                        <div class="button-container">
                                            <!-- Hiển thị lỗi "Sản phẩm chi tiết đã tồn tại" -->
                                            <div ng-show="form[table.mau.idMauSac][size.idKichCo].errorMessages.exists"
                                                 class="text-danger">
                                                <!-- Nút "Cập nhật" khi có lỗi -->
                                                <button class="btn btn-warning" ng-click="confirmUpdateSize(table, size)">
                                                    Cập nhật
                                                </button>
                                                <span>{{ form[table.mau.idMauSac][size.idKichCo].errorMessages.exists
                                                    }}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- Upload ảnh cho màu -->
                            <div class="mb-3">
                                <label for="formFile-{{table.mau.idMauSac}}" class="form-label">
                                    Chọn file ảnh cho màu {{table.mau.ten}}
                                </label>
                                <input class="form-control" type="file"
                                       id="formFile-{{table.mau.idMauSac}}"
                                       data-table="{{table}}"
                                       onchange="angular.element(this).scope().onFileSelected1(event)">
                                <span>{{ nameFile }}</span>
                                <div ng-show="table.errorMessages && table.errorMessages.img" class="text-danger">
                                    {{ table.errorMessages.img }}
                                </div>
                                <img ng-if="table.img.imageSrc"
                                     ng-src="/assets/img/{{table.img.imageSrc}}"
                                     alt="Ảnh xem trước"
                                     style="width: 100px; height: 100px; object-fit: cover; cursor: pointer;">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button type="button" class="btn btn-danger" ng-click="create()">Thêm</button>
                </div>
            </div>

        </div>
    </div>

    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script>
                    © Eighteen Polo.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>

    </script>
</div>

</body>

</html>