<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<head>
    <title>ALLDY SNEAKER | Form sản phẩm</title>

</head>
<style></style>
<body data-topbar="dark">

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" layout:fragment="content">
    <div class="page-content" ng-app="formSP-app" ng-controller="san-pham-ctrl">
<!--        <style>-->
<!--            .er {-->
<!--                color: red;-->
<!--                font-size: 13px;-->
<!--            }-->
<!--        </style>-->
<!--        <link th:href="@{/admin/css/fileupload.css}" rel="stylesheet" type="text/css"/>-->
<!--        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->

        <!-- Chọn màu sắc -->
        <div>
            <label>Chọn Màu:</label>
            <select ng-options="mau as mau.ten for mau in mauSac" ng-model="currentMauSac" multiple ng-change="selectMauSac()">
            </select>
        </div>

        <!-- Chọn kích cỡ -->
        <div>
            <label>Chọn Kích Cỡ:</label>
            <select ng-options="size as size.ten for size in kichCo" ng-model="selectedKichCo" multiple ng-change="addSizeToAllMau()">
            </select>
        </div>

        <!-- Hiển thị bảng theo từng màu -->
        <div ng-repeat="table in tables" style="margin-top: 20px;">
            <h3>Màu: {{table.mau.ten}}</h3>
            <table border="1">
                <tr>
                    <th>Kích Cỡ</th>
                </tr>
                <tr ng-repeat="size in table.sizes">
                    <td>{{size.ten}}</td>
                </tr>
            </table>
        </div>

    </div>

<!-- End Page-content -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script>
                © ALLDY STORE.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>

</script>
</div>

</body>

</html>