<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/trangChu}">

<head>
    <meta charset="UTF-8">
    <title>Sản phẩm chi tiết</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .custom-border {
            border: 3px solid #3498db; /* Màu xanh da trời */
            border-radius: 10px; /* Bo góc nếu cần */
            padding: 5px; /* Khoảng cách giữa viền và ảnh */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng nhẹ */
        }

        .box-border {
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        /* CSS cho các nút */
        .custom-button {
            display: inline-flex; /* Để căn giữa nội dung */
            justify-content: center; /* Căn giữa nội dung ngang */
            align-items: center; /* Căn giữa nội dung dọc */
            width: 50px; /* Chiều rộng nút */
            height: 50px; /* Chiều cao nút (hình vuông) */
            margin: 7px; /* Khoảng cách giữa các nút */
            border-radius: 8px; /* Bo góc mềm mại */
            color: black; /* Màu chữ mặc định */
            text-decoration: none; /* Loại bỏ gạch chân */
            border: 1px solid #000; /* Viền đen */
            transition: all 0.2s ease; /* Hiệu ứng hover */
            box-sizing: border-box; /* Đảm bảo kích thước chính xác */
            text-align: center; /* Căn giữa nội dung */
            overflow: hidden; /* Đảm bảo không bị tràn nội dung */
        }

        /* Trạng thái chọn */
        .custom-button.selected {
            border: 2px solid black; /* Viền đậm khi được chọn */
        }

        /* Hiệu ứng hover */
        .custom-button:hover {
            filter: brightness(1); /* Làm tối màu khi hover */
        }

        /* Hiệu ứng active (khi nhấn) */
        .custom-button:active {
            transform: scale(0.95); /* Hiệu ứng nhấn */
            background-color: #e0e0e0; /* Màu nền khi nhấn */
            border: 3px solid black; /* Viền đen khi nhấn */
        }


        /* Giới hạn chữ trong nút, sử dụng dấu ba chấm nếu chữ quá dài */
        .custom-button span {
            font-size: 1em; /* Kích thước chữ tự động thay đổi */
            text-overflow: ellipsis; /* Nếu chữ quá dài, sẽ có dấu ba chấm */
        }

        .mtext-105 {
            font-size: 3em; /* Tăng kích thước chữ */
            font-weight: bold; /* In đậm */
            font-style: italic; /* In nghiêng */
        }

        .text-danger {
            font-size: 2em; /* Tăng kích thước chữ */
            font-weight: bold; /* Đảm bảo chữ đậm */
        }


    </style>
</head>
<!-- Thêm SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<body>
<div style="margin-top: 10px" class="main-content" ng-controller="ctsp-ctrl"
     layout:fragment="contentUser">
    <style>
        .header-cart-buttons {
            display: flex;
            justify-content: center;
        }
    </style>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <!--    <link rel="stylesheet" type="text/css"  href="/userStyle/css/rating.scss">-->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>


    <!-- Product Detail -->
    <section class="sec-product-detail bg0 p-t-65 ">
        <div class="container">
            <!-- Chỉ hiển thị một sản phẩm duy nhất theo màu sắc và kích cỡ đã chọn -->
            <div class="row" ng-if="filteredItems.length > 0">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="slick3 gallery-lb">
                                <div class="item-slick3">
                                    <div class="wrap-pic-w pos-relative custom-border"
                                         style="width: 400px; height: 400px;">
                                        <img ng-src="/assets/img/{{filteredItems[0].idHinhAnh.ten}}"
                                             alt="Ảnh không tồn tại"
                                             class="img-fluid"
                                             style="width: 100%; height: 100%; object-fit: cover; border-radius: 5px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 box-border" >
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <div class="d-flex align-content-center">
                            <h4 class="mtext-105 cl2 js-name-detail p-b-14 me-2">
                                {{filteredItems[0].idSanPham.ten}}
                            </h4>
                        </div>

                        <!-- Giá sản phẩm -->
                        <div class="p-t-3">
                            <div class="row p-b-10">
                                <div class="col-12">
                                    <div class="price-container">

                                        <h5 class="text-danger" ng-if="price">Giá: {{giaGiam}} {{price}}</h5>
                                        <h5 class="text-danger" ng-if="!price">Liên hệ để biết giá</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Hiển thị số lượng -->
                        <div class="row">
                            <div class="col-6 m-t-10">
                                <p ng-if="soLuong > 0">Hàng trong kho: {{soLuong}}</p>
                                <p ng-if="soLuong <= 0" class="text-danger">Hết hàng</p>
                            </div>
                        </div>

                        <!-- Màu Sắc -->
                        <div class="mt-3">
                            <h5>Màu Sắc:</h5>
                            <div class="button-group">
                                <a href="javascript:void(0);"
                                   class="custom-button"
                                   ng-repeat="mau in uniqueColors"
                                   ng-click="filterByColor(mau)"
                                   ng-style="{'background-color': mau.ma}"
                                   ng-class="{'selected': selectedColor && selectedColor.idMauSac === mau.idMauSac}">
                                </a>
                            </div>
                        </div>

                        <!-- Kích Cỡ -->
                        <div class="mt-3">
                            <h5>Kích Cỡ:</h5>
                            <div class="button-group">
                                <a href="javascript:void(0);"
                                   class="custom-button"
                                   ng-repeat="size in filteredSizes"
                                   ng-click="filterBySize(size)"
                                   ng-class="{'selected': selectedSize && selectedSize.idKichCo === size.idKichCo}">
                                    <span>{{size.ten}}</span>
                                </a>
                            </div>
                        </div>


                        <!-- Thêm vào giỏ hàng -->
                        <div class="p-t-3 mt-3">
                            <div class="row p-b-10">
                                <div class="size-600 flex-w flex-m respon6-next">
                                    <div class="col-5">
                                        <button ng-click="addProductIntocart(idSanPhamChiTiet1)"
                                                class="flex-c-m stext-80 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mb-2">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--    /////////Modal đăng nhập-->
<!--                <div class="modal fade" id="dangNhap" tabindex="-1" role="dialog"-->
<!--                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">-->
<!--                    <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header">-->
<!--                                <h5 class="modal-title" id="exampleModalLongTitle">Thông Báo</h5>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                Đăng nhập để sử dụng tính năng!-->
<!--                            </div>-->
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-secondary" data-dismiss="modal"-->
<!--                                        onclick="$('#dangNhap').modal('hide')">Trở về-->
<!--                                </button>-->
<!--                                <button ng-click="login()" class="btn btn-primary text-white">Đăng nhập</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="bor10 p-t-43 p-b-40 mt-5">
                    <!-- Tab01 -->
                    <div class="tab01">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item p-b-10">
                                <a class="nav-link active" style="padding: 10px" data-toggle="tab" href="#description"
                                   role="tab">Thông tin chi
                                    tiết</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content p-t-43">
                            <!-- - -->
                            <div class="tab-pane fade show active" id="description" role="tabpanel">
                                <div class="how-pos2 p-lr-15-md">
                                    <table class="table mb-0 table-bordered">
                                        <tbody>
                                        <tr>
                                            <th scope="row" style="width: 400px;">Thương hiệu</th>
                                            <td>{{filteredItems[0].idSanPham.idThuongHieu.ten}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Xuất xứ</th>
                                            <td>{{filteredItems[0].idSanPham.idXuatXu.ten}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Chất liệu</th>
                                            <td>{{filteredItems[0].idSanPham.idChatLieu.ten}}</td>
                                        </tr>
                                        <tr >
                                            <th scope="row">Kiểu dáng</th>
                                            <td>{{filteredItems[0].idSanPham.idKieuDang.ten}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Mô tả</th>
                                            <td>{{filteredItems[0].idSanPham.moTa}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- //---------------------------------------------------------------- -->
    <div class="modal fade" id="huongDanChonSize" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hướng Dẫn Chọn Size</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <h5 style="font-size: 17px">Độ dài bàn chân:</h5>
                        <h5 style="font-size: 17px"> {{lengthFoot}} CM </h5>
                    </div>
                    <input type="range" class="form-range" min="20" max="32" step="0.5" ng-model="lengthFoot"
                           onchange="angular.element(this).scope().getSizePhuHop()" style="width: 100%;"
                           ng-change="showLength()">
                    <h5 style="font-size: 17px">Size phù hợp là: {{size}}</h5>
                    <hr>
                    <img src="/image/loadImage/user/lengthFoot.jpg "
                         style="width: 70%; height: 150px; margin-left: 15%;" class="text-center"/>
                    <p class="text-center font-italic">Hướng dẫn đo chiều dài bàn chân</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Related Products -->
    <section class="sec-relate-product bg0 p-t-45 p-b-105">
        <div class="container">
            <div class="p-b-45">
                <h3 class="cl5 txt-center">
                    SẢN PHẨM TƯƠNG TỰ
                </h3>
            </div>

            <!-- Slide2 -->
            <div class="">
                <div class="d-flex justify-content-center">
                    <!--                    ////-->
                    <div class="p-l-15 p-r-15 p-t-15 p-b-15" ng-repeat="p in productsTuongTu" style="width: 250px">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img src="/image/loadImage/product/{{p.anh[0]}}" style="width: 100%;height: 200px"
                                     ng-if="p.anh.length>0">
                                <img src="/image/loadImage/product/default.png" style="width: 100%;height: 200px"
                                     ng-if="p.anh.length==0">

                                <a href="/chi-tiet-san-pham/{{p.ma}}"
                                   class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                    Xem chi tiết
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href="/chi-tiet-san-pham/{{p.ma}}" style="font-weight: bold; font-size: 15px; width:200px;
                                                                                white-space: nowrap;
                                                                                overflow: hidden;
                                                                                text-overflow: ellipsis;"
                                       class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        {{p.ten}}
                                    </a>

                                    <span class="stext-105 cl3" ng-if="p.mucGiam!=null">
                                            <span>
                                                <del>{{p.giaBan | currency: "" : 1}}đ</del>
                                            </span>
                                            <b ng-if="p.loaiGiam == 'TIEN'"
                                               style="font-weight: bold;font-size: 15px;">{{p.giaBan - p.mucGiam |
                                            currency: "" : 1}}đ</b>
                                            <b ng-if="p.loaiGiam == 'PHAN TRAM'"
                                               style="font-weight: bold;font-size: 15px;">{{p.giaBan - ((p.mucGiam /
                                                    100) * p.giaBan) | currency: "" : 1}}đ</b>
                                        </span>
                                    <span class="stext-105 cl3" ng-if="p.mucGiam==null">
                                            <p>{{p.giaBan | currency: "" : 1}}đ</p>
                                        </span>
                                </div>

                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <i ng-if="maSpInDSYT.includes(p.ma) == false" id="{{p.ma}}" class="far fa-heart"
                                       ng-click="addDSYT(p.ma)"></i>
                                    <i ng-if="maSpInDSYT.includes(p.ma) == true" id="{{p.ma}}" class="fas fa-heart"
                                       ng-click="addDSYT(p.ma)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

</html>